## Calcular Distancias de Escuelas a establecimientos que venden alcohol mas cercanos

# Chequen los PATHS 

Primero se importan los scripts y scipy

In [1]:

from scripts.schools import main as compute_schools
from scripts.alcohol import main as compute_alcohol
from scripts.salud import main as compute_salud
from scripts.parques import main as compute_parques
from scipy.spatial import KDTree
import pandas as pd

# Seccion de PATHS

In [2]:
# Lista de rutas de archivos Negocios DENUE
paths_negocios_denue = [
    # AQUI AGREGUEN LOS PATHS DE SUS CSVs
    '/home/jay/repos/AI/feminicidios/denue_00_46111_csv/conjunto_de_datos/denue_inegi_46111_.csv',
    '/home/jay/repos/AI/feminicidios/denue_00_46112-46311_csv/conjunto_de_datos/denue_inegi_46112-46311_.csv',
    '/home/jay/repos/AI/feminicidios/denue_00_46321-46531_csv/conjunto_de_datos/denue_inegi_46321-46531_.csv',
    '/home/jay/repos/AI/feminicidios/denue_00_46591-46911_csv/conjunto_de_datos/denue_inegi_46591-46911_.csv',
    
    # Sin querer puse el PATH de las escuelas, xd que bueno que despues de get_alcohol() el DF estaba vacio
    # Lo deje para debuggear
    # '/home/jay/repos/AI/feminicidios/denue_00_61_csv/conjunto_de_datos/denue_inegi_61_.csv'
]

# Ruta de archivo Escuelas DENUE
file_path_escuelas = '/home/jay/repos/AI/feminicidios/denue_00_61_csv/conjunto_de_datos/denue_inegi_61_.csv'

# Ruta de archivo salud DENUE
file_path_salud = '/home/jay/repos/GeoStats/denue/denue_00_62_csv/conjunto_de_datos/denue_inegi_62_.csv'

# Ruta de archivo parques DENUE
file_path_parques = '/home/jay/repos/GeoStats/denue/denue_00_71_csv/conjunto_de_datos/denue_inegi_71_.csv'

# Ahora se van a importar los DF de los negocios que venden alcohol y las escuelas

In [3]:
# Se itera sobre la lista de PATHS, la verdad no se por que imprime
alcohol = compute_alcohol(paths_negocios_denue)

In [4]:
# Se carga el DF dado un solo PATH
schools = compute_schools(file_path_escuelas)

In [5]:
# Se carga el DF dado un solo PATH
salud = compute_salud(file_path_salud)

In [ ]:
# Se carga el DF dado un solo PATH
parques = compute_parques(file_path_parques)

# EDA

In [6]:
alcohol.head()

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,8794778,19006461110027873000000000U4,7 eleven,7 eleven mexico sa de cv,461110,"comercio al por menor en tiendas de abarrotes,...",11 a 30 personas,AVENIDA,MIGUEL ALEMAN,CALLE,...,Ciudad Apodaca ...,0225,15,NaN,NaN,WWW.7-ELEVEN.COM.MX,Fijo,25.752659,-100.198830,2019-11
1,9346815,19048461110017182000000000U4,7 eleven mexico,7 eleven mexico sa de cv,461110,"comercio al por menor en tiendas de abarrotes,...",6 a 10 personas,CARRETERA,MONTERREY-SALTILLO,CALLE,...,Ciudad Santa Catarina ...,1134,13,NaN,NaN,WWW.7-ELEVEN.COM.MX,Fijo,25.685572,-100.474568,2021-05
2,2962357,19039461110011121000000000U7,ab. esmeralda,NaN,461110,"comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,SEGURIDAD SOCIAL,CALLE,...,Monterrey ...,3470,35,NaN,NaN,NaN,Fijo,25.733921,-100.386254,2010-07
3,3019167,19019461110001601000000000U2,aba frut la rosita,NaN,461110,"comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,PLATINO,CALLE,...,San Pedro Garza García ...,0011,34,8115027145,NaN,NaN,Fijo,25.685544,-100.410971,2010-07
4,7350331,19041461110001881000000000U4,abarr0tes flores,NaN,461110,"comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,CANTO DE MAR,CALLE,...,Pesquería ...,0328,19,8115271966,NaN,NaN,Fijo,25.754152,-100.106617,2019-11

In [7]:
schools.head()

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
88883,2928650,19021611112000352000000000U4,13 SEPTIEMBRE TURNO VESPERTINO,SECRETARIA DE EDUCACION PUBLICA,611112,Escuelas de educación preescolar del sector pú...,6 a 10 personas,CALLE,CERRO DEL MIRADOR,CALLE,...,Ciudad General Escobedo ...,0486,48,8.183974e+09,NaN,NaN,Fijo,25.795491,-100.294070,2010-07
88884,3007400,19048611122000433000000000U4,15 DE SEPTIEMBRE TURNO MATUTINO,SECRETARIA DE EDUCACION,611122,Escuelas de educación primaria del sector público,11 a 30 personas,CALLE,CAÑON DEL COLORADO,CALLE,...,Ciudad Santa Catarina ...,1045,34,8.183169e+09,ESCUELAPRIMARIAQUINCEDESEPTIEMBRE@HOTMAIL.COM,NaN,Fijo,25.681459,-100.495767,2010-07
88885,8745473,19039611122003993000000000U3,1979 AÑO INTERNACIONAL DEL NIÑO TURNO MATUTINO,ESCUELA PRIMARIA AÑO INTERNACIONAL DEL NIÑO TU...,611122,Escuelas de educación primaria del sector público,11 a 30 personas,CALLE,SANTA ROSA,CALLE,...,Monterrey ...,0226,1,NaN,ESCUELA1979@LIVE.COM,NaN,Fijo,25.737419,-100.340182,2019-11
88886,2940661,19045611132000074000000000U2,1983 CINCUENTARIO DE LA EDUCACION SECUNDARIA,1983 CINCUENTENARIO DE LA EDUCACION SECUNDARIO,611132,Escuelas de educación secundaria general del s...,11 a 30 personas,CALZADA,CALZADA DEL SOL,CALLE,...,Ciudad Satélite del Norte ...,0399,18,NaN,SECUNTARIATV5@OULOK.COM,NaN,Fijo,25.915361,-100.263047,2014-12
88887,8816777,19017611312000021000000000U9,19B SUBCEDE UNIVERSIDAD PEDAGOGICA NACIONAL UPN,SECRETARIA DE EDUCACION PUBLICA,611312,Escuelas de educación superior del sector público,0 a 5 personas,CALLE,15 DE MAYO,CALLE,...,Galeana ...,141A,5,NaN,NaN,NaN,Fijo,24.826925,-100.075245,2019-11

In [8]:
salud

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta,sector
144804,6799794,19019621341000173000000000U1,123 mobilite,123 mobilite sapi de cv,621341,consultorios del sector privado de audiologia ...,11 a 30 personas,CALLE,RIO MISSISSIPI,CALLE,...,0083,13,8183781026,VALLE@123MOBILITE.COM,WWW.123MOBILITE.COM,Fijo,25.657024,-100.360001,2017-11,privado
144805,8997162,19019621311000043000000000U9,123 mobilite,123 movilite sapi de cv,621311,consultorios de quiropractica del sector privado,11 a 30 personas,CALLE,RIO MISSISSIPI,CALLE,...,0083,13,NaN,ANGELICADELGADILLO@123MOBILITE.COM.MX,NaN,Fijo,25.657363,-100.361141,2019-11,privado
144806,8779116,19039621341000742000000000U1,123 mobilite,123 mobilite sapi de cv,621341,consultorios del sector privado de audiologia ...,6 a 10 personas,CARRETERA,NACIONAL,NaN,...,2966,5,8120368805,SUR@123MOBILITE.COM,NaN,Fijo,25.582638,-100.254296,2019-11,privado
144807,2962919,19039621341000373001000000U5,123 mobilite rehabilitacion fisica integral,123 mobilite sapi de cv,621341,consultorios del sector privado de audiologia ...,0 a 5 personas,AVENIDA,PASEO DE LOS LEONES,CALLE,...,356A,5,8119320123,CONTACTO@123MOBILITE.COM,WWW.123MOBILITE.COM,Fijo,25.717737,-100.384762,2014-12,privado
144808,3002395,19014624191000021001000000U9,13 de junio grupo aa,central mexicana de servicios generales de alc...,624191,agrupaciones de autoayuda para alcoholicos y p...,6 a 10 personas,CALLE,JUAN ALDAMA,CALLE,...,0532,23,NaN,NaN,NaN,Fijo,23.673800,-100.176492,2014-12,otro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154354,8696136,19019621391000341000000000U9,zertimedics,NaN,621391,consultorios de nutriologos y dietistas del se...,0 a 5 personas,AVENIDA,JOSE VASCONCELOS,CALLE,...,0168,28,8132325672,NaN,NaN,Fijo,25.651945,-100.376939,2019-11,privado
154355,8390939,19031621211000341000000000U4,zona dental,NaN,621211,consultorios dentales del sector privado,0 a 5 personas,AVENIDA,ACUEDUCTO,NaN,...,0887,17,NaN,JRDZ_ART@HOTMAIL.COM,NaN,Fijo,25.625157,-100.173126,2019-11,privado
154356,2937242,19046621211001701000000000U6,zona dental,clinica de especialidades dentales,621211,consultorios dentales del sector privado,0 a 5 personas,AVENIDA,SENDERO NORTE,CALLE,...,1464,3,8123246188,ZONADENTAL13@GEMAIL.COM,NaN,Fijo,25.766035,-100.301717,2010-07,privado
154357,2959712,19039621211009341000000000U8,zona dental,NaN,621211,consultorios dentales del sector privado,0 a 5 personas,AVENIDA,LUIS DONALDO COLOSIO MURRIETA,CALLE,...,4411,15,NaN,NaN,NaN,Fijo,25.776391,-100.386942,2014-12,privado
154358,2994903,19039621211010641000000000U8,zona dental,NaN,621211,consultorios dentales del sector privado,0 a 5 personas,CALLE,ANDALUCIA,CALLE,...,2203,30,NaN,LILYMARROQUIN_ORTO@HOTMAIL.COM,NaN,Fijo,25.635307,-100.273565,2014-12,privado

In [9]:
alcohol.describe() # no aplica porque no hay datos numericos
schools.describe() # no aplica porque no hay datos numericos
salud.describe() # no aplica porque no hay datos numericos

,id,codigo_act,numero_ext,numero_int,cod_postal,cve_ent,cve_mun,cve_loc,manzana,latitud,longitud
count,9.061000e+03,9061.000000,7680.000000,3112.000000,8991.000000,9061.0,9061.000000,9061.000000,9061.000000,9061.000000,9061.000000
mean,5.760518e+06,621647.658316,1342.130469,193.395566,65593.677122,19.0,32.590443,5.570467,20.708090,25.678237,-100.276614
std,2.713524e+06,1036.523729,1708.168834,383.452184,1279.020167,0.0,11.831764,36.352178,19.426163,0.252359,0.160065
min,2.914909e+06,621111.000000,0.000000,0.000000,39720.000000,19.0,1.000000,1.000000,1.000000,23.422860,-100.634334
25%,2.997874e+06,621113.000000,205.000000,0.000000,64370.000000,19.0,26.000000,1.000000,9.000000,25.664465,-100.351071
50%,6.217464e+06,621211.000000,605.000000,6.000000,66023.000000,19.0,39.000000,1.000000,20.000000,25.680370,-100.318506
75%,8.633677e+06,621391.000000,2331.000000,303.000000,66600.000000,19.0,39.000000,1.000000,30.000000,25.733468,-100.248878
max,9.470603e+06,624412.000000,36631.000000,6230.000000,87515.000000,19.0,51.000000,568.000000,800.000000,27.250641,-99.177818

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))

# Plot each dataframe with a different color
plt.scatter(salud['longitud'], salud['latitud'], alpha=0.5, color='blue', label='Health Establishments')
plt.scatter(alcohol['longitud'], alcohol['latitud'], alpha=0.5, color='red', label='Alcohol Selling Establishments')
plt.scatter(schools['longitud'], schools['latitud'], alpha=0.5, color='green', label='Schools')
plt.scatter(parques['longitud'], parques['latitud'], alpha=0.5, color='yellow', label='Parks')

# Add a title and labels
plt.title('Scatter Plot of Different Establishments')
plt.xlabel('Longitude')
plt.ylabel('Latitude')

# Add a legend to identify the datasets
plt.legend()

# Show the plot
plt.show()

In [ ]:
# Numero total de variables de salud por sector
salud['sector'].value_counts()

# Todavia no queda, esta en testing
## Se crea un KDTree
## Se guarda el indice y la distancia del establecimiento mas cercano a la escuela

In [ ]:
# Encuentra el establecimiento más cercano a una coordenada dado un arbol de KDTree
def find_nearest(row, tree, establishments):
    distance, index = tree.query([row['latitud'], row['longitud']])
    return establishments.iloc[index]['nom_estab'], distance

# Tree para aplicar busqueda 
alcohol_tree = KDTree(alcohol[['latitud', 'longitud']])

# simon
schools['nearest_alcohol'], schools['distance_to_nearest_alcohol'] = zip(*schools.apply(lambda row: find_nearest(row, alcohol_tree, alcohol), axis=1))